@page
@model RulesModel
@{
    ViewData["Title"] = "Rules";
}
<div id="gameRules" style="text-align:left;">
    <br />
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Rules</h1>
        </div>
        <div class="panel-body">
            <p>
                My Name Is Simon <br />
                Think fast! Watch, Remember, Repeat! <br />
                Simon says repeat my flashing LIGHTS and SOUNDS<br />
                Simon's a computer, Simon has a brain, you either do what Simon says or else go down the drain<br />
            </p>
            <p>Instructions:</p>
            <ul class="list-group">
                <li class="list-group-item">On starting the game, you will be given a series of button presses.</li>
                <li class="list-group-item">After your turn is shown, press the same buttons in the same sequence</li>
                <li class="list-group-item">You get one point for each consecutive correct sequence</li>
            </ul>
        </div>
    </div>
</div>
